*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Gill Sans MT', sans-serif;
}
body::selection{
    background-color: #FF6900;
    color:white;
}
.navbar{
    /* z-index:2; */
    /* border: 2px solid black; */
    display: flex;
    justify-content:center;
    padding: 15px;
    gap: 100px;
    height: 22px;
    box-shadow: 0px 10px 10px 1px #F7F7F7;
}
.navImg{
    /* border: 2px solid black; */
    width: 2.2%;
    height: 30px;
    margin-left: -1rem;
    margin-top: -5px;
    cursor: pointer;
}
.navbarUl{
    /* border: 2px solid black; */
    display: flex;
    gap: 45px;
    margin-left: -4rem;
}
.navbarUl li{
    list-style: none;
    font-size: 16px;
}
.navbarUl li:hover{
    cursor: pointer;
    color: #FF6900;
    text-decoration:underline;
}
.ul2{
    /* border: 2px solid black; */
    display: flex;
    gap: 40px;
    margin-left: 16rem;
}
.ul2 li{
    list-style: none;
    font-size: 16px;
}
.ul2 li:hover{
    color: #FF6900;
    cursor: pointer;
    text-decoration: underline;
}
.ions{
    /* border: 2px solid black; */
    width: 5%;
    display: flex;
    gap: 40px;
    margin-left: -52px;
}
.fa-magnifying-glass,.fa-user{
    font-size: 20px;
    cursor: pointer;
}
.search{
    z-index:1;
    position: absolute;
    /* border: 2px solid black; */
    display: none;
    height: 82vh;
    margin-top: -15px;
    background-color:#FFFFFF;
    width: 100%;
    animation: mobilieAnnimation 1s;
}
.iSearc{
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seaaIcon{
    position: absolute;
    left:325px;
}
.seaaIcon .fa-magnifying-glass{
    font-size: 30px;
}
.iSearc input{
    width: 50%;
    padding: 15px;
    border-radius: 18px;
    padding-left: 60px;
    font-size: 20px;
    letter-spacing:5px;
}
.contact{
    /* border:2px solid black; */
    position: absolute;
    display: none;
    width: 7%;
    margin-left: 78rem;
    /* margin-top: -8px; */
    box-shadow: 0px 7px 7px 5px #F7F7F7;
}
.sign_In{
    background-color:white;
    border: none;
    padding: 5px;
    padding-left: 10px;
    color: #898989;
    cursor: pointer;
    font-size: 16px;
    width:100% ;
}
.sign_In a{
    text-decoration: none;
    color: #898989;
    font-size: 16px;
}
.sign_Up{
    background-color:white;
    border-color: #898989;
    border: 1px solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 5px;
    padding-left: 12px;
    color: #898989;
    cursor: pointer;
    font-size: 16px;
    width:100% ;
}
.sign_Up a{
    text-decoration: none;
    color: #898989;
    font-size: 16px;
}
.sign_In a:hover ,.sign_Up a:hover{
    color: black;
    text-decoration: underline;
}
.mobile{
    z-index:1;
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid rgb(227, 218, 218) ;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /* border: 2px solid black; */
    height: 55vh;
    background-color: white;
    animation: mobilieAnnimation 1s;
}
.overlay{
    width:100%;
    height: 100vh;
    background-color: black;
    display: none;
    opacity:0.8;
    position: absolute;
}
@keyframes mobilieAnnimation{
    0%{
        transform: translateY(-2vh);
    }
    100%{
        transform: translateY(0px);
    }
}
.Wearables{
    z-index:1;
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid rgb(227, 218, 218) ;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /* border: 2px solid black; */
    height: 55vh;
    background-color: white;
    animation: mobilieAnnimation 1s;
}
.POCO{
    z-index:1;
    display: none;
    position: absolute;
    width: 100%;
    border: 1px solid rgb(227, 218, 218) ;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    /* border: 2px solid black; */
    height: 55vh;
    background-color: white;
    animation: mobilieAnnimation 1s;
}
.imgblock_F_Series{
    /* border: 2px solid black; */
    float: right;
    margin-top: -22vh;
    width: 80%;
    height: auto;
    /* display: none; */
}
.imgblock_X_Series{
    /* border: 2px solid black; */
    float: right;
    margin-top: -22vh;
    width: 80%;
    height: auto;
    display: none;
}
.imgblock_M_Series{
    /* border: 2px solid black; */
    float: right;
    margin-top: -22vh;
    width: 80%;
    height: auto;
    display: none;
}
.imgblock_C_Series{
    /* border: 2px solid black; */
    float: right;
    margin-top: -22vh;
    width: 80%;
    height: auto;
    display: none;
}

.sm , .bran , .tw_s , .F ,.X ,.M , .C {
    color: #191919;
    font-weight:bolder;
    font-size: 12px;
}
.innerMoblie{
    /* border: 2px solid black; */
    padding: 40px;
    gap: 120px;
}
.imgblockSmart_Watches{
    /* border: 2px solid black; */
    float: right;
    margin-top: -15vh;
    width: 80%;
    height: auto;
    /* display: none; */
}
.imgblockSmart_Brands{
    /* border: 2px solid black; */
    float: right;
    margin-top: -15vh;
    width: 80%;
    height: auto;
    display: none;
}
.imgblockTWS{
    /* border: 2px solid black; */
    float: right;
    margin-top: -15vh;
    width: 80%;
    height: auto;
    display: none;
}
.ph{
    color: #FF6900;
}
.xio{
    color:#898989;
    font-size: 14px;
}
.red{
    font-size: 14px;
    color:#898989;
}
.poco{
    font-size: 14px;
    color:#898989;
}
.red:hover,.poco:hover,.xio:hover ,.table:hover ,.laptop:hover,.sm:hover,.bran:hover,.tw_s:hover  , .F:hover ,.X:hover ,.M:hover , .C:hover{
    cursor: pointer;
    color:#FF6900;
    text-decoration: underline;
}
.innerMoblie ul li {
    list-style: none;
    line-height: 38px;
    cursor: pointer;
}
.imgblockDiv1{
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color:#F7F7F7 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 35vh;
    width: 15%;
}
.imgblockDiv1 h1{
    font-size: 13px;
    font-weight: 100;
    margin-top: 5vh;
}
.imgblockDiv2{
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color:#F7F7F7 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 35vh;
    width: 15%;
    margin-left: 13.2rem;
    margin-top: -41.5vh;
    /* gap: 20px; */
}
.imgblockDiv2 h1{
    font-size: 13px;
    font-weight: 100;
    margin-top: 5vh;
}
.imgblockDiv3{
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color:#F7F7F7 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 35vh;
    width: 15%;
    margin-left: 26.3rem;
    margin-top: -41.5vh;
    /* gap: 20px; */

}
.imgblockDiv3 h1{
    font-size: 13px;
    font-weight: 100;
    margin-top: 5vh;
}
.imgblockDiv4{
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color:#F7F7F7 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 35vh;
    width: 15%;
    margin-left: 39.5rem;
    margin-top: -41vh;
    /* gap: 20px; */
}
.imgblockDiv4 h1{
    font-size: 13px;
    font-weight: 100;
    margin-top: 5vh;
}
.imgblockDiv5{
    /* border: 2px solid black; */
    border-radius: 10px;
    background-color:#F7F7F7 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 35vh;
    width: 15%;
    float: right;
    margin-top: -41vh;
    /* gap: 20px; */
}
.imgblockDiv5 h1{
    font-size: 13px;
    font-weight: 100;
    margin-top: 5vh;
}
.imgblockXiomi{
    /* border: 2px solid black; */
    float: right;
    margin-top: -35vh;
    width: 80%;
    height: auto;
    /* display: none; */
}
.imgblockREDMI_Series{
    /* border: 2px solid black; */
    float: right;
    margin-top: -35vh;
    width: 80%;
    height: auto;
    display: none;
} 
.imgblockPOCO_Series{
    /* border: 2px solid black; */
    float: right;
    margin-top: -35vh;
    width: 80%;
    height: auto;
    display: none;
}
.imgblockTABLETS{
    /* border: 2px solid black; */
    width: 80%;
    float: right;
    margin-top: -35vh;
    height: auto;
    display: none;
}
.imgblockLaptop{
    /* border: 2px solid black; */
    float: right;
    margin-top: -35vh;
    width: 80%;
    height: auto;
    display: none;
}
.block1img{
    width: 80%;
    height: 150px;
    cursor: pointer;
}
.block1img:hover{
    animation: motion 2s;
}
@keyframes motion{
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
.section1{
    /* border: 2px solid black; */
    height: 275px;
}
.sectionDiv1{
    /* border: 2px solid black; */
    height: auto;
    padding: 35px;
}
.sectionDiv1Ul span{
    font-size: 20px;
    color: #898989;
}
.sectionDiv1Ul{
    /* border: 2px solid black; */
    display: flex;
    gap: 25px;
}
.sectionDiv1Ul li{
    list-style: none;
    font-size: 16px;
}
.li11{
    color: #898989;
    cursor: pointer;
}
.li22{
    color: #898989;
    cursor: pointer;
}
.li11:hover ,.li22:hover{
    color: #191919;
}
.sectionDiv1 h1{
    margin-top: 50px;
    font-size: 30px;
}
.sectionDiv1Ul2{
    margin-top: 6vh;
    display: flex;
    gap: 40px;
}
.sectionDiv1Ul2 span{
    font-size: 25px;
    color: #343232;
    font-family: monospace;
}
.sectionDiv1Ul2 li{
    list-style: none;
    font-size: 25px;
    font-weight:100;
}
.li44{
    color: #191919;
}
.li55{
   color: #FF6900;
   cursor: pointer;
}
.li66{
    color: #898989;
}
.li44:hover,.li66:hover{
    color: #FF6900;
    cursor: pointer;
}
.sectionMain2{
    /* border: 2px solid black; */
    height: auto;
    background-color: #F7F7F7;
}
.boxes{
    /* border: 2px solid black; */
    padding: 10px;
    /* display: flex; */
}
.innerboxex1{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.innerboxex1:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.boxes h1{
    text-align: center;
    font-size: 24px;
    color: #191919;
    margin-top: 70px;
    cursor: pointer;
}
.boxes button{
    cursor: pointer;
    border: 1px solid black;
    margin-top: 40px;
    color:#757575 ;
    padding: 10px;
    width: 40%;
    border-radius: 15px;
    letter-spacing: 1px;
    background-color: transparent;
}
.boxes button:hover{
    color:#191919 ;
}
.boxes img{
    width: 85%;
    cursor: pointer;
    height: 280px;
}
.innerboxex2{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 21.5rem;
    margin-top:-77vh;
}
.innerboxex2:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex3{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 43rem;
    margin-top:-76.5vh;
}
.innerboxex3:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex4{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    float: right;
    margin-top:-76.6vh;
}
.innerboxex4:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex5{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-top: 3vh;
}
.innerboxex5:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex6{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 21.5rem;
    margin-top:-77.3vh;
}
.innerboxex6:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex7{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 43rem;
    margin-top:-77.3vh;
}
.innerboxex7:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex8{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    float: right;
    margin-top:-76vh;
}
.innerboxex8:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex9{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-top: 4vh;
}
.innerboxex9:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex10{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 21.5rem;
    margin-top:-77.3vh;
}
.innerboxex10:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex11{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 43rem;
    margin-top:-77.3vh;
}
.innerboxex11:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex12{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    float: right;
    margin-top:-77.3vh;
}
.innerboxex12:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex13{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-top: 4vh;
}
.innerboxex13:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex14{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 21.5rem;
    margin-top:-77.3vh;
}
.innerboxex14:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex15{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 43rem;
    margin-top:-77.3vh;
}
.innerboxex15:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex16{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    float: right;
    margin-top:-77.3vh;
}
.innerboxex16:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex17{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-top: 4vh;
}
.innerboxex17:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex18{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 21.5rem;
    margin-top:-77.3vh;
}
.innerboxex18:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex19{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 43rem;
    margin-top:-77.3vh;
}
.innerboxex19:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex20{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    float: right;
    margin-top:-77.3vh;
}
.innerboxex20:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex21{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-top: 4vh;
}
.innerboxex21:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex22{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 21.5rem;
    margin-top:-77.3vh;
}
.innerboxex22:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex23{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    margin-left: 43rem;
    margin-top:-77.3vh;
}
.innerboxex23:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}
.innerboxex24{
    /* border: 2px solid black; */
    background-color:#FFFFFF;
    width: 24%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    float: right;
    margin-top:-77.3vh;
}
.innerboxex24:hover{
    box-shadow: 0px 0px 5px 0px rgb(156, 153, 153);
}