{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <section class="footer">
        <div class="block1">
            <h3>SUPPORT</h3>
            <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">User Guide</a></li>
                <li><a href="#">Warranty</a></li>
                <li><a href="#">International Warranty</a></li>
                <li><a href="#">EU Declaration of conformity</a></li>
                <li><a href="#">Scooter Safety Notice</a></li>
                <li><a href="#">Android Enterprise Recommended</a></li>
                <li><a href="#">Digital Service Act</a></li>
            </ul>
        </div>

        <div class="block2">
            <h3>ABOUT US</h3>
            <ul>
                <li><a href="#">Xiaomi</a></li>
                <li><a href="#">Leadership Team</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Integrity & Compliance</a></li>
                <li><a href="#">Invester Relations</a></li>
                <li><a href="#">Sustainability</a></li>
                <li><a href="#">Trust Center</a></li>
                <li><a href="#">Xiomi Accessibility</a></li>
                <li><a href="#">Xiomi HyperOS</a></li>
            </ul>
        </div>
        <div class="block3">
            <h3>XIOMI PROJECTS</h3>
            <ul>
            <li><a href="#">Xiomi Creators</a></li>
            <li><a href="#">Xiomi Studios</a></li>
            <li><a href="#">Xiomi Imagery</a></li>
            <li><a href="#">Xiomi Master Class</a></li>
            <li><a href="#">Xiomi Renovation</a></li>
            </ul>
        </div>
        <div class="block4">
            <h6>Follow Xiomi</h6>
            <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-x-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-xing"></i>
            </div>
            <p>Enter your email address to subscribe to our newsletters</p>
            <input type="text" placeholder="Enter email address">
        

        </div>
    </section>
</body>
</html>